<ng-sidebar-container style="height: 100vh">

  <!-- A sidebar -->
  <ng-sidebar closeOnClickOutside='true' [mode]="'push'" [(opened)]="_opened"> <!-- aqui va el contenido de lo que esta dentro del sidebar-->
    <!-- <div class="row float-right mr-3 mt-1 text-danger">
      <i class="fal fa-times-circle" closeSidebar></i>
    </div> -->
    <aside class="mt-2 ml-3">
      <a class="navbar-brand text-danger">Angular</a>
    </aside>
    <ul class="list-group">
      <li class="list-group-item">
        <a class="nav-link text-secondary" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home </a>
      </li>
      <li class="list-group-item">
        <a class="nav-link text-secondary" [routerLink]="['/registro']" routerLinkActive="router-link-active" >Registro</a>
      </li>
      <li class="list-group-item">
        <a class="nav-link text-secondary" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
      </li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content> <!--aqui va el contenido de la pagina sin el sidebar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand text-danger" href="#" *ngIf="!_opened">Angular
      </a> -->
      <button class="btn btn-outline-danger btn-sm" (click)="_toggleSidebar()">Menu
        <i class="fal fa-bars" *ngIf="!_opened" ></i>
        <i class="fal fa-times-circle" *ngIf="_opened" ></i>
      </button>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="router-link-active" >Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
          </li>
        </ul>
      </div> -->
    </nav>
    <div class="container mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</ng-sidebar-container>





<!-- <h1>
  Hola como estan
</h1>

<h2>
  {{ 'Mi nombre es ' + getNombre() }}
</h2>

<img [src] = "imageURL"> <br>
<button [disabled] = "buttonStatus" >BOTON</button> <br>
<button [class.btn] = "isActive" >BOTON</button> <br>
<button [style.backgroundColor]="isActive ? 'green' : 'red'" >Mi boton</button> <br>
<button (mouseover) = "save($event)" >Guardar</button><br>
<input type="text" value="" (keyup.enter) = "presion(nombre.value)" #nombre> <br> <br>

<input type="text" [(ngModel)] = "persona.nombre">
<input type="text" [(ngModel)] = "persona.edad">

<p>{{ persona.nombre + ' ' + persona.edad}}</p>
<curso></curso>

<hr>

<prueba1></prueba1> -->

<!-- <prueba1></prueba1> -->
